{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Finance App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>
<body>
    <div class="container">
        <h1>Stock Data Viewer</h1>

        <!-- POST Form -->
        <form method="post">
            {% csrf_token %}
            <button type="submit">Reload Data from Django Database</button>
        </form>
        
        {% if table %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Date</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in table %}
                    <tr>
                        <td>{{ row.ticker }}</td>
                        <td>{{ row.date }}</td>
                        <td>{{ row.dayOpen }}</td>
                        <td>{{ row.dayHigh }}</td>
                        <td>{{ row.dayLow }}</td>
                        <td>{{ row.dayClose }}</td>
                        <td>{{ row.dayVolume }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="empty-message">
                No stock data loaded yet.
            </div>
        {% endif %}
    </div>
    {% if plot_exists %}
        <img src="{% static 'plots/plot.png' %}" class="plot-img" 
            alt="Plot">
    {% else %}
        <div class="empty-message">Plot doesn't exist yet!</div>
    {% endif %}
</body>
</html>
